body {
    background: #fafafa;
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  
    .title {
      margin-top: 5rem;
      margin-left: 3rem;
    }
    .cards {
      position: relative;
      gap: 2rem;
      flex-wrap: wrap;
      display: flex;
      margin-left: 2rem;
  
      .delete-icon{
        position: absolute;
        font-size: larger;
        left: 20%;
      }
    }
    .text{
      margin-left: 3rem;
    }
  }