.apicard {
  height: 270px;
  width: 255px;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0.125rem;
    padding: 1rem;
  
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      .Description {
        margin-top: 0.3rem;
        color: gray;
        font-size: medium;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 100%;
        height: 45%;
      }
      .edit {
        font-size: 20px;
      }
  
      .editButton {
        border: none;
        background: none;
        margin-top: -3rem;
      }
    }
    a {
      text-decoration: none;
      color: black;
    }
    img {
      object-fit: contain;
      border-radius: 5px 5px 0 0;
      width: 100%;
      height: 100%;
    }
  
    .MainHeading {
      font-size: x-large;
      font-weight: 600;
      margin-top: 1.25rem;
    }
  }
  
  .apicard:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
  }